@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Common Styles  */
*{
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins", serif;
}
:root{
    --heading-font-size: 48px;
    --section-font-size: 4rem;
    --button-font-size: 1.125rem;
    --card-title-size: 1.5rem;
    --card-p-font-size: 1rem;
    --description-font-color: rgba(255, 255, 255, 0.5); 
    --general-font-color: #fff;
    --button-color: #E6533C;
    --main-background: #000;
    --background: #222222;
    --card-bg-color:rgb(34, 34, 34);
}
.site-name{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    color: var(--button-color);
}
.btn-primary{
    padding: 15px 70px;
    background: var(--button-color);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: var(--button-font-size);
    /* position: relative; */
}
.btn-primary .hidden{
    display: none;
}
#btn-secondary{
    background: none;
    border: 1px solid #fff;
    margin-left: 20px;
}
.description{
    font-size: var(--card-p-font-size);
    color: var(--description-font-color);
    margin: 30px 0;
}
.section-title{
    font-size: var(--section-font-size);
    color: var(--general-font-color);
    line-height: 80px;
}


/* Navigetion Styles  */

header{
    background: linear-gradient(0deg, #000, #ffffff01, #ffffff02, #111),
    var(--background);
    overflow: hidden;
}
nav .humburger-icon{
    display: none;
    color: #fff;
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 32px 0;
    gap: 130px;
    
}
nav ul{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}
ul li{
    font-size: 1.25rem;
    font-weight: 400;
    list-style: none;
    margin-right: 55px;
    padding: 12px 0px 12px 3px;

}
ul li:last-of-type{
    margin-right: 25px;
}
ul li a{
    text-decoration: none;
    color: var(--general-font-color);
}
nav ul span{
    padding: 10px 25px;
    background: var(--button-color);
    border-radius: 50px;
}

/* Banner Section Styles */

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7%;
} 

.banner-content{
    width: 40%;
}
.banner-content h1{
    font-size: 5rem;  
    color: var(--general-font-color);
    line-height: 90px;  
}
.banner-img {
    width: 30%;
    position: relative;
}
 
.img-card{
    position: absolute;
    top: 22%;
    right: 10%;
    padding: 18px 25px;
    width: 210px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.img-card h1{
    font-size: 2.5rem;
    color: var(--general-font-color);
    letter-spacing: 1px;
    text-align: center;
}
.img-card p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 400;
    letter-spacing: 1px;
}

#card-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(5px);
    position: absolute;
    padding: 20px 6px;
    width: 210px;
    right: 80%;
    top: 71%;
}
#card-two .circle{
    background: var(--button-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#card-two .circle i{
    display: none;
}
#card-two h1{
    font-size: 1.5rem;
    line-height: 35px;
}
#card-two p{
    font-size: 1rem;
}

/* Main Section  */

main{
    background: var(--main-background);
    margin: 0 auto;
    overflow: hidden;
}

.habit-section{
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    padding: 100px 200px;
    text-align: center;
}
.habit-section > .description{
    padding: 0 30%;
    margin-top: 15px;
}
.habit-images{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
}
.img-circle{
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    /* border: 1px solid #fff; */
    gap: 5px;
}

.img-circle img{
    border-radius: 50%;
    width: 80%;
    border: 3px solid var(--description-font-color);
}
.habit-title{
    color: var(--general-font-color);
    font-size: var(--card-title-size);
    margin-top: 20px;
    font-weight: 400;
}
.img-circle .description{
    font-size: var(--card-p-font-size);
    margin-top: 0;;
}

/* Long Card Section */

.long-card{
    display: flex;
    justify-content: space-around;
    background: var(--card-bg-color);
    align-items: center;
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 18px;
    max-width: 70%;
    width: 90%;
    gap: 150px;
}
.long-card-content{
    padding: 0 30px;
    flex: 1;
}

.long-card-img{
    flex: 1;
    overflow: hidden;
    border-radius: 18px; 
}

.long-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-37%) translateY(31%) scale(2.6);
}
 

/* Exercise Section Styles */

.exercise-section{
    max-width: 75%;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}
.exercise-content{
    margin-left: 0;
}
.exercise-content .description{
    margin-top: 20px;
}
.exercise-img-gallery {
    width: 100%;
}
.gallery-1, .gallery-2{
    display: grid;
    grid-template-rows: 270px;
}
.gallery-1{
    grid-template-columns: 1fr 2fr 1.1fr;
}
.gallery-2{
    grid-template-columns: 1.3fr 1fr 1.2fr;
}

.box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: var(--general-font-color); 
}

#box-1{
    background: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(images/exercise1.jpg) center/cover;
    color: #000;
}
#box-2{
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(images/exercise2.png) center/cover no-repeat;
}
#box-3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/exercise3.png) center/cover no-repeat;
}

#box-4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/exercise4.png) center/cover no-repeat;
}
#box-5{
    background: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(images/exercise5.jpg) center/cover no-repeat;
}
#box-6{
    background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(images/exercise6.jpg) center/cover no-repeat;
}
#box-1 p{
    color: #000;
}
.exercise-img-gallery .box > p{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    left: 10%;
    top: 80%;
}
.exercise-img-gallery #box-2 > p{
    top: 10%;
    left: 6%;
}
.exercise-img-gallery #box-4 > p{
    left: 55%;
    top: 10%;
}

/* BMI Caluclator Section Styles */
.bmi-content{
    margin-top: 50px;
    width: 100%;
    margin-left: 200px;
}
.bmi-content .section-title{
    margin-bottom: -10px;
}
.bmi-calulator-section{
    background: rgb(34, 34, 34);
}
.bmi-calculator{
    max-width: 75%;
    padding-top: 70px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.calculator-chart{
    width: 430px;
    margin-left: 0;
}
.calculator-chart table{
    width: 100%;
    border-collapse: collapse;
}
.calculator-chart table thead th{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
}
.calculator-chart table tbody{
    font-size: 1rem;
    font-weight: 400;
}
.calculator-chart table th, td{
    border: 1px solid #ffffff1a;
    padding: 15px 25px;
    text-align: left;
    color: #ffffff80;
}
.calculator-chart h2, 
.input-section h2{
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: left;
    color: var(--general-font-color);
}
.input-section h2{
    margin-bottom: 20px;
}
.input-section .description{
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 1rem;
}
.input-section {
    /* width: 580px; */
    box-sizing: border-box;
    overflow: hidden;
}

.input-box .first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.first-row input, 
.first-row .sex select,
.first-row .full-width select{
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    color: var(--description-font-color);
    font-size: 1rem;
}
.sex, .full-width{
    width: 100%;
}
.first-row .full-width {
    grid-column: span 2;
}
.input-box .first-row input::placeholder{
    color: var(--description-font-color);
}
.sex select option, 
.full-width select option {
    background-color: #000; 
}

.input-section .btn-primary{
    margin-top: 35px;
}

/* Team Section Styles */

.team-section{
    background: var(--main-background);
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.team-content{
    text-align: center;
    width: 50%;
}
.team-content .description{
    margin-top: 15px;
    margin-bottom: 10px;
}
.team-gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: var(--card-bg-color);
    padding: 20px;
    border-radius: 18px;
    box-sizing: border-box;
}
.team-member{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}
.team-member img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.team-member::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.member-info{
    position: absolute;
    bottom: 5%;
    left: 8%;
    color: var(--general-font-color);
    font-size: 1.5rem;
    z-index: 2;
}
.member-info p{
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--description-font-color);
}








/* Responsive Design for Mobile  */

@media screen and (max-width: 576px) {
    header,
    .habit-section{
        padding: 0 20px;
    }
    .site-name{
        font-size: 2.5rem;
    }
    nav, 
    .buttons{
        display: flex;
        justify-content: space-between;  
        align-items: center;
    }
    nav .humburger-icon,
    .btn-primary .hidden{
        display: block;
    }
    nav ul, 
    .btn-primary .visible,
    #box-3, #box-6,
    .team-gallery .team-member:nth-child(1),
    .team-gallery .team-member:nth-child(4){
        display: none;
    }
    nav{
        margin-bottom: 50px;
    }
    .banner-img{
        margin-top: 50px;
    }

    .banner,
    .habit-images,
    .long-card,
    .bmi-calculator,
    .bmi-calculator{
        display: flex;
        flex-direction: column;
    }  
    .banner,
    .habit-section > .description,
    .long-card
    .long-card-content{
        padding: 0;
    }
    .banner-content, 
    .banner-img,
    .long-card-content .btn-primary,
    .calculator-chart,
    .team-content,
    .team-gallery{
        width: 100%;
    }
    .banner-content h1{
        font-size: 2.25rem;
        line-height: 50px;
        font-weight: 700;
    }
    .description{
        font-weight: 300;
    }
    .btn-primary, 
    #btn-secondary{
        padding: 13px 20px;        
    }
    #btn-secondary,
    .bmi-content,
    .calculator-chart{
        margin-left: 0; 
    }
    .img-card{
        padding: 12px 12px;
        right: 0;
        top: 10%;
        width: 140px;
        border-radius: 8px;
    }
    .img-card h1{
        font-size: 1.75rem;
        line-height: 40px;
    }
    .img-card p,
    #card-two p{
        font-size: 0.56rem;
        font-weight: 400;
    }
    #card-two{
        left: 0;
        top: 42%;
        width: 180px;
    }
    #card-two h1{
        font-size: 1.3rem;
        line-height: 40px;
    }
    #card-two .circle > i{
        color: var(--general-font-color);
        display: block;
        position: relative;
        top: 29%;
        left: 37%;
    }
    .section-title{
        font-size: 1.8rem;
        line-height: 45px;
    }
    .habit-images{
        gap: 0px;
        margin-top: 0;
    }
    .long-card{
        gap: 40px;
        max-width: 80%;
        padding: 20px;
    }

    /* Exercise Gallery Responsive  */
    .exercise-section,
    .bmi-calculator,
    .team-section{
        max-width: 90%;
        gap: 20px;
    }
    .exercise-section{
        max-width: 90%;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .gallery-1, .gallery-2{
        grid-template-rows: 180px;
    }
    .gallery-1{
        grid-template-columns:  1.1fr 1fr;
    }
    .gallery-2{
        grid-template-columns: 1fr 1.2fr;
    }
    #box-2{
        background-position: 72% 21%;
        background-size: 340%; 
    }
    #box-4{
        background-size: 330%;
        background-position: 35% 6%;
    }
    #box-5{
        background-size: 200%;
    }
    .exercise-img-gallery .box > p, #box-1 p{
        font-size: .9rem;
        color: var(--general-font-color);
    }
    .exercise-img-gallery #box-4 > p{
        top: 70%;
        left: 8%;
    }
    .exercise-img-gallery #box-1>p, #box-5>p{
        left: 0;
        top: 70%;
        padding-left: 10px;
    }
    .bmi-calculator{
        padding-top: 35px;
    }
    .bmi-content, 
    .calculator-chart table{
        margin-top: 30px;
    }
    .bmi-content .section-title,
    .team-content .section-title{
        font-size: 2rem;
    }
    .input-section,
    .input-box, 
    .team-gallery{
        margin-top: 20px;
    }
    .calculator-chart h2,
    .input-section h2{
        font-size: 1.25rem;
        margin-bottom: 15px;
    }
    .calculator-chart table thead th{
        padding: 15px 13px;
        font-weight: 400;
        font-size: 1.10rem;
    }
    .input-section .btn-primary{
        padding: 16px 70px;
    }
    .team-gallery{
        grid-template-columns: 1fr;
        
    }
    .team-member::after {
        background: rgba(0, 0, 0, 0.4);
    }
    .member-info h4 {
        font-size: 1.25rem;
    }
    
}
